{
  "extends": "airbnb",
  "rules": {
    "import/no-unresolved": [
      2, { "ignore": ["^meteor/"] }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
